<!DOCTYPE html>
<html>
<head>
  <title>TyaniTolkay</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="_auth">
  <% if (user_signed_in?) %>
      <b><%= link_to current_user.name, view_user_path(current_user) %>
        <%= "("+current_user.role+")" unless current_user.role == "user" %>
      </b>: <%= link_to "Logout", :destroy_user_session %>
      <br/>
      <%= link_to "Add new ad", create_ad_path %>
  <% else %>
      <%= link_to "Login", :new_user_session %> <%= link_to "Registration", :new_user_registration %>
  <% end %>
</div>

<p class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
